/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
    font-family: monterrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}


.mainthing h6{
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 5px 5px 5px rgb(143, 140, 140);
            box-shadow: 5px 5px 5px rgb(143, 140, 140);
    position: absolute;
    left: 150px;
    top: 50px;
    background-image: url(/images/HPOmen16.png);
    background-repeat: no-repeat;
    -webkit-animation: fotoslider 10s ease-in-out;
            animation: fotoslider 10s ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    
}

@-webkit-keyframes fotoslider{
    20%{background-image: url(/images/HPOmen16.png);}
    40%{background-image: url(/images/HPOmen162.jpg);}
    60%{background-image: url(/images/HPOmen163.jpg);}
    80%{background-image: url(/images/HPOmen164.jpg);}
    100%{background-image: url(/images/HPOmen16.png);}
}

@keyframes fotoslider{
    20%{background-image: url(/images/HPOmen16.png);}
    40%{background-image: url(/images/HPOmen162.jpg);}
    60%{background-image: url(/images/HPOmen163.jpg);}
    80%{background-image: url(/images/HPOmen164.jpg);}
    100%{background-image: url(/images/HPOmen16.png);}
}

#homebutton{
    color:rgb(196, 23, 179);
    font-family: montserrat;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
    left: 1150px;
    top: 2%;
}

#homebutton::before{
    content: "";
    position: absolute;
    bottom:-3px;
    height:3px;
    left:0;
    width:100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 25px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    background: rgb(196, 23, 179);
}

#homebutton:hover::before{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

.mainthing h2{
    font-family: monterrat;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 570px;
    left: 150px;
}

.mainthing h4{
    color:rgb(196, 23, 179);
    font-family:monterrat ;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 600px;
    left: 148px;
}

.details h1{
    position: absolute;
    top: 0px;
    right: 375px;
    font-weight: bold;
}

.Indetails{
    font-family: monterrat;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    left: 700px;
    top: 60px;
    -webkit-box-shadow: 4px 4px 4px gray;
            box-shadow: 4px 4px 4px gray;
    /* background-color: rgb(216, 215, 215); */
    width: 400px;
}

#Buybutton{
    width: 30px;
    text-decoration: none;
    color:black;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* gap: 15px; */
    border:solid 1px;
    border-radius: 5px;
    background-color: #1BC768;
    position: absolute;
    top: 680px;
    right: 470px;
    
}

#Buybutton:hover{
    padding: 15px 35px;
}

.otherproducts h1{
    position: absolute;
    top: 770px;
    left: 145px;
    font-family: monterrat;
    font-weight: 700;
}


.HPVictus16{
    position: relative;
    left: -100px;
}

.HPVictus16 img{
    width: 190px;
    height: 178px;
    position: absolute;
    top: 852px;
    left: 215px;
    -webkit-box-shadow: gray 2px 2px 2px;
            box-shadow: gray 2px 2px 2px;
}

.HPVictus16 h4{
    position: absolute;
    top: 1015px;
    left: 215px;
    font-family: monterrat;
    font-weight: 700;
}

.HPVictus16 h5{
    position: absolute;
    top: 1040px;
    left: 215px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPVictus16 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 212px;
    font-family: monterrat;
    color: black;
}

.HPVictus16 a:hover{
    color:rgb(196, 23, 179);
}

.HPProBook450G9{
    position: relative;
    right: 150px;
    top: 255px;
}

.HPProBook450G9 img{
    width: 185px;
    height: 187px;
    position: absolute;
    top: 590px;
    left: 520px;
    -webkit-box-shadow: gray 2px 2px 2px;
            box-shadow: gray 2px 2px 2px;
}

.HPProBook450G9 h4{
    position: absolute;
    top: 763px;
    left: 521px;
    font-family: monterrat;
    font-weight: 700;
}

.HPProBook450G9 h5{
    position: absolute;
    top: 787px;
    left: 521px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPProBook450G9 a{
    text-decoration: none;
    position: absolute;
    top: 823px;
    left: 520px;
    font-family: monterrat;
    color: black;
}

.HPProBook450G9 a:hover{
    color:rgb(196, 23, 179);
}

.HPNotebook240G8{
    position: relative;
    right: 175px;
}

.HPNotebook240G8 img{
    width: 200px;
    height: 180px;
    position: absolute;
    top: 850px;
    left: 785px;
    -webkit-box-shadow: gray 2px 2px 2px;
            box-shadow: gray 2px 2px 2px;
}

.HPNotebook240G8 h4{
    position: absolute;
    top: 1020px;
    left: 786px;
    font-family: monterrat;
    font-weight: 700;
}

.HPNotebook240G8 h5{
    position: absolute;
    top: 1043px;
    left: 787px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPNotebook240G8 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 787px;
    font-family: monterrat;
    color: black;
}

.HPNotebook240G8 a:hover{
    color: rgb(196, 23, 179);
}

.HPpavilion14{
    position: relative;
    right: 210px;
}

.HPpavilion14 img{
    width: 200px;
    height: 180px;
    position: absolute;
    top: 850px;
    left: 1075px;
    -webkit-box-shadow: gray 2px 2px 2px;
            box-shadow: gray 2px 2px 2px;
}

.HPpavilion14 h4{
    position: absolute;
    top: 1020px;
    left: 1077px;
    font-family: monterrat;
    font-weight: 700;
}

.HPpavilion14 h5{
    position: absolute;
    top: 1043px;
    left: 1077px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPpavilion14 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 1077px;
    font-family: monterrat;
    color: black;
}

.HPpavilion14 a:hover{
    color: rgb(196, 23, 179);
}   