
@font-face {
    font-family: monterrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}


.mainthing h6{
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 5px rgb(143, 140, 140);
    position: absolute;
    left: 150px;
    top: 50px;
    background-image: url(/images/Asus_Vivobook_X4\ \(1\).png);
    background-repeat: no-repeat;
    animation: fotoslider 10s ease-in-out;
    animation-iteration-count: infinite;
    
}

@keyframes fotoslider{
    20%{background-image: url(/images/Asus_Vivobook_X4\ \(1\).png);}
    40%{background-image: url(/images/Asus_Vivobook_X4\ \(2\).png);}
    60%{background-image: url(/images/Asus_Vivobook_X4\ \(3\).png);}
    80%{background-image: url(/images/Asus_Vivobook_X4\ \(3\).png);}
    100%{background-image: url(/images/Asus_Vivobook_X4\ \(4\).png);}
}

#homebutton{
    color:rgb(196, 23, 179);
    font-family: montserrat;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
    left: 1150px;
    top: 2%;
}

#homebutton::before{
    content: "";
    position: absolute;
    bottom:-3px;
    height:3px;
    left:0;
    width:100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: rgb(196, 23, 179);
}

#homebutton:hover::before{
    transform: scaleX(1);
}


.mainthing h2{
    font-family: monterrat;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 570px;
    left: 150px;
}

.mainthing h4{
    color:rgb(196, 23, 179);
    font-family:monterrat ;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 600px;
    left: 148px;
}

.details h1{
    position: absolute;
    top: 0px;
    right: 375px;
    font-weight: bold;
}

.Indetails{
    font-family: monterrat;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    left: 700px;
    top: 60px;
    box-shadow: 4px 4px 4px gray;
    /* background-color: rgb(216, 215, 215); */
    width: 400px;
}

#Buybutton{
    width: 30px;
    text-decoration: none;
    color:black;
    font-size: 18px;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    /* gap: 15px; */
    border:solid 1px;
    border-radius: 5px;
    background-color: #1BC768;
    position: absolute;
    top: 660px;
    right: 470px;
    
}

#Buybutton:hover{
    padding: 15px 35px;
}

.otherproducts h1{
    position: absolute;
    top: 770px;
    left: 145px;
    font-family: monterrat;
    font-weight: 700;
}

.otherproductsimg{
    box-shadow: gray 2px 2px 2px;
}

.AsusZenbook14Flip{
    position: relative;
    left: -100px;
}

.AsusZenbook14Flip img{
    width: 200px;
    height: 145px;
    position: absolute;
    top: 870px;
    left: 210px;
    box-shadow: gray 2px 2px 2px;
}

.AsusZenbook14Flip h4{
    position: absolute;
    top: 1015px;
    left: 215px;
    font-family: monterrat;
    font-weight: 700;
}

.AsusZenbook14Flip h5{
    position: absolute;
    top: 1040px;
    left: 215px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.AsusZenbook14Flip a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 212px;
    font-family: monterrat;
    color: black;
}

.AsusZenbook14Flip a:hover{
    color:rgb(196, 23, 179);
}

.AsusVivobookGo14flip{
    position: relative;
    right: 140px;
}

.AsusVivobookGo14flip img{
    width: 170px;
    height: 165px;
    position: absolute;
    top: 850px;
    left: 520px;
    box-shadow: gray 2px 2px 2px;
}

.AsusVivobookGo14flip h4{
    position: absolute;
    top: 1015px;
    left: 521px;
    font-family: monterrat;
    font-weight: 700;
}

.AsusVivobookGo14flip h5{
    position: absolute;
    top: 1040px;
    left: 521px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.AsusVivobookGo14flip a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 520px;
    font-family: monterrat;
    color: black;
}

.AsusVivobookGo14flip a:hover{
    color:rgb(196, 23, 179);
}

.rogzephyruss15{
    position: relative;
    right: 175px;
}

.rogzephyruss15 img{
    width: 200px;
    height: 167px;
    position: absolute;
    top: 850px;
    left: 785px;
    box-shadow: gray 2px 2px 2px;
}

.rogzephyruss15 h4{
    position: absolute;
    top: 1015px;
    left: 786px;
    font-family: monterrat;
    font-weight: 700;
}

.rogzephyruss15 h5{
    position: absolute;
    top: 1040px;
    left: 787px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.rogzephyruss15 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 787px;
    font-family: monterrat;
    color: black;
}

.rogzephyruss15 a:hover{
    color: rgb(196, 23, 179);
}

.AsusROGStrix17{
    position: relative;
    right: 210px;
}

.AsusROGStrix17 img{
    width: 200px;
    height: 167px;
    position: absolute;
    top: 850px;
    left: 1075px;
    box-shadow: gray 2px 2px 2px;
}

.AsusROGStrix17 h4{
    position: absolute;
    top: 1015px;
    left: 1077px;
    font-family: monterrat;
    font-weight: 700;
}

.AsusROGStrix17 h5{
    position: absolute;
    top: 1040px;
    left: 1077px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.AsusROGStrix17 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 1077px;
    font-family: monterrat;
    color: black;
}

.AsusROGStrix17 a:hover{
    color: rgb(196, 23, 179);
}