 
 @font-face {
    font-family: monsterrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
 }

 body{
    font-family:monsterrat;
 }

 header{
   background-color: rgb(196, 23, 179);
   height: 120px;
   width:101.3%;
   position: relative;
   left:-8px;
   top:-7.7px;
}

.logosection h2{
   display: inline-block;
}

.logosection{
   position: absolute;
   left: 70px;
   padding:15px 0 30px;
}

#logo{
   width: 70px;
   height: 70px;
   position: absolute;
   top: 20px;
   left:85px;
   border:5px rgb(255, 255, 255) solid;
   border-radius: 80px;
}



.logosection h2{
   color:rgb(255, 255, 255);
   font-family: montserrat;
   position: absolute;
   top:26px;
   left: 27px;
}

#h2{
   position: absolute;
   left: 170px;
   top:23px;
}

nav a{
   color:rgb(255, 255, 255);
   font-family: montserrat;
   font-weight: 700;
   font-size: 20px;
   text-decoration: none;
   padding: 15px 20px;
   position: relative;
   left: 600px;
   top: 45px;
}

nav a::before{
   content: "";
   position: absolute;
   bottom:-3px;
   height:3px;
   left:0;
   width:100%;
   transition: 0.5s;
   border-radius: 25px;
   transform: scaleX(0);
   background: rgb(255, 255, 255);
}

nav a:hover::before{
   transform: scaleX(1);
}

ul{
   padding: 0;
   margin:0;
   font-family: montserrat;
   position: absolute;
   bottom: 131px;
   right: 650px;
   
}

ul{
   list-style: none;
   background:rgb(36, 0, 25) solid;
}

ul li{
   display: flex;
   flex-direction: row;
   position: relative;
   top: 55px;
   left: 0px;
}

ul li a{
   display: block;
   padding: 20px 25px ;
   color:rgb(255, 255, 255);
   text-decoration: none;
   /* text-align: start; */
   font-size: 20px;
   font-weight: 700;
}

ul li ul.dropdownul{
   /* width:100%; */
   /* background-color: none; */
   position: absolute;
   z-index: 999;
   display: none;
}

ul li:hover ul.dropdownul{
   display:block ;
   position: absolute;
   right: 15px;
   top: 0px;
}

 .aboutus{
    text-align: center;
    position: absolute;
    top: 150px;
    left: 100px;
 }

 .aboutus h1{
    color:rgb(196, 23, 179);
    font-size: 30px;
    font-weight: 900;
 }

 .aboutus p{
    font-weight: 700;
 }

 .aboutus a{
    text-decoration: none;
    color:rgb(196, 23, 179)
 }

 .information{
   background-color: black;
   position: absolute;
   top: 500px;
   right: 0;
   width: 1264px;
   height: 400px;
   display: flex;
   flex-direction: row;
}

.callus{
   position: absolute;
   left: 0px;
}

.callus p{
   position: relative;
   left: 300px;
   top:50px;
   color: white;
}

.callus h6{
   text-decoration: none;
   color: white;
   position: relative;
   left: 305px;
   top: 50px;
   display: flex;
   flex-direction: row;
}

.info1{
   position: relative;
   left: 270px;
}

.info1 p{
   position: relative;
   left: 300px;
   top:50px;
   color: white;
}

.info1 a{
   text-decoration: none;
   color: white;
   position: relative;
   left: 305px;
   top: 50px;
   display: flex;
   flex-direction: row;
}

.info2 a{
   text-decoration: none;
   color: white;
   padding-top: 15px;
   padding-right: 25px;
   position: relative;
   left: 705px;
   top: 50px;
   display: flex;
   flex-direction: row;
}

.info2 p{
   position: relative;
   left: 640px;
   top: 55px;
   color: white;
}

.information a::before{
   content: "";
   position: absolute;
   bottom:-3px;
   height:2px;
   left:-13px;
   width:100%;
   transition: 0.5s;
   border-radius: 25px;
   transform: scaleX(0);
   background: rgb(248, 248, 248);
}

.information a:hover::before{
   transform: scaleX(1);
}