
@font-face {
    font-family: monterrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}


body{
    justify-content: center;

}

main{
    position: relative;
    top:20px;
}

header{
    background-color: rgb(196, 23, 179);
    height: 120px;
    width:101.3%;
    position: relative;
    left:-8;
    top:-7.7;
}

.logosection h2{
    display: inline-block;
}

.logosection{
    position: absolute;
    left: 70px;
    padding:15px 0 30px;
}

#logo{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left:85px;
    border:5px rgb(255, 255, 255) solid;
    border-radius: 80px;
}



.logosection h2{
    color:rgb(255, 255, 255);
    font-family: montserrat;
    position: absolute;
    top:26px;
    left: 27px;
}

#h2{
    position: absolute;
    left: 170px;
    top:23px;
}

nav a{
    color:rgb(255, 255, 255);
    font-family: montserrat;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
    left: 500px;
    top: 45px;
}

nav a::before{
    content: "";
    position: absolute;
    bottom:-3px;
    height:3px;
    left:0;
    width:100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: rgb(255, 255, 255);
}

nav a:hover::before{
    transform: scaleX(1);
}


.mainthing h6{
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 5px rgb(143, 140, 140);
    position: absolute;
    left: 150px;
    top: 50px;
    background-image: url(/images/HP\ ProBook\ 450\ G9.jpg);
    background-repeat: no-repeat;
    animation: fotoslider 10s ease-in-out;
    animation-iteration-count: infinite;
    
}

@keyframes fotoslider{
    20%{background-image: url(/images/HP\ ProBook\ 450\ G9.jpg);}
    40%{background-image: url(/images/HP\ ProBook\ 450\ G92.jpg);}
    60%{background-image: url(/images/HP\ ProBook\ 450\ G93.jpg);}
    80%{background-image: url(/images/HP\ ProBook\ 450\ G94.jpg);}
    100%{background-image: url(/images/HP\ ProBook\ 450\ G9.jpg);}
}

#homebutton{
    color:rgb(196, 23, 179);
    font-family: montserrat;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    position: relative;
    left: 1150px;
    top: 2%;
}

#homebutton::before{
    content: "";
    position: absolute;
    bottom:-3px;
    height:3px;
    left:0;
    width:100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: rgb(196, 23, 179);
}

#homebutton:hover::before{
    transform: scaleX(1);
}


.mainthing h2{
    font-family: monterrat;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 570px;
    left: 150px;
}

.mainthing h4{
    color:rgb(196, 23, 179);
    font-family:monterrat ;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 600px;
    left: 148px;
}

.details h1{
    position: absolute;
    top: 0px;
    right: 375px;
    font-weight: bold;
}

.Indetails{
    font-family: monterrat;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    left: 700px;
    top: 60px;
    box-shadow: 4px 4px 4px gray;
    /* background-color: rgb(216, 215, 215); */
    width: 400px;
}

#Buybutton{
    width: 30px;
    text-decoration: none;
    color:black;
    font-size: 18px;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    /* gap: 15px; */
    border:solid 1px;
    border-radius: 5px;
    background-color: #1BC768;
    position: absolute;
    top: 680px;
    right: 470px;
    
}

#warrantybutton{
    width: 40px;
    text-decoration: none;
    color:black;
    font-size: 18px;
    display: flex;
    padding: 15px 45px;
    align-items: center;
    /* gap: 15px; */
    border:solid 1px;
    border-radius: 5px;
    background-color: #1BC768;
    position: absolute;
    top: 660px;
    right: 300px;
}



#Buybutton:hover{
    padding: 15px 35px;
}

#warrantybutton:hover{
    padding: 15px 50px;
}

.otherproducts h1{
    position: absolute;
    top: 770px;
    left: 145px;
    font-family: monterrat;
    font-weight: 700;
}


.HPVictus16{
    position: relative;
    left: -100px;
}

.HPVictus16 img{
    width: 190px;
    height: 178px;
    position: absolute;
    top: 852px;
    left: 215px;
    box-shadow: gray 2px 2px 2px;
}

.HPVictus16 h4{
    position: absolute;
    top: 1015px;
    left: 215px;
    font-family: monterrat;
    font-weight: 700;
}

.HPVictus16 h5{
    position: absolute;
    top: 1040px;
    left: 215px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPVictus16 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 212px;
    font-family: monterrat;
    color: black;
}

.HPVictus16 a:hover{
    color:rgb(196, 23, 179);
}

.HPNotebook240G8{
    position: relative;
    right: 140px;
    top: 255px;
}

.HPNotebook240G8 img{
    width: 185px;
    height: 187px;
    position: absolute;
    top: 590px;
    left: 520px;
    box-shadow: gray 2px 2px 2px;
}

.HPNotebook240G8 h4{
    position: absolute;
    top: 763px;
    left: 521px;
    font-family: monterrat;
    font-weight: 700;
}

.HPNotebook240G8 h5{
    position: absolute;
    top: 787px;
    left: 521px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPNotebook240G8 a{
    text-decoration: none;
    position: absolute;
    top: 823px;
    left: 520px;
    font-family: monterrat;
    color: black;
}

.HPNotebook240G8 a:hover{
    color:rgb(196, 23, 179);
}

.HPOmen16{
    position: relative;
    right: 175px;
}

.HPOmen16 img{
    width: 200px;
    height: 180px;
    position: absolute;
    top: 850px;
    left: 785px;
    box-shadow: gray 2px 2px 2px;
}

.HPOmen16 h4{
    position: absolute;
    top: 1020px;
    left: 786px;
    font-family: monterrat;
    font-weight: 700;
}

.HPOmen16 h5{
    position: absolute;
    top: 1043px;
    left: 787px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPOmen16 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 787px;
    font-family: monterrat;
    color: black;
}

.HPOmen16 a:hover{
    color: rgb(196, 23, 179);
}

.HPpavilion14{
    position: relative;
    right: 210px;
}

.HPpavilion14 img{
    width: 200px;
    height: 180px;
    position: absolute;
    top: 850px;
    left: 1075px;
    box-shadow: gray 2px 2px 2px;
}

.HPpavilion14 h4{
    position: absolute;
    top: 1020px;
    left: 1077px;
    font-family: monterrat;
    font-weight: 700;
}

.HPpavilion14 h5{
    position: absolute;
    top: 1043px;
    left: 1077px;
    font-family: monterrat;
    font-weight: 700;
    color:rgb(196, 23, 179);
}

.HPpavilion14 a{
    text-decoration: none;
    position: absolute;
    top: 1078px;
    left: 1077px;
    font-family: monterrat;
    color: black;
}

.HPpavilion14 a:hover{
    color: rgb(196, 23, 179);
}

.information{
    background-color: black;
    position: absolute;
    top: 1300px;
    right: 0;
    width: 1264px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.callus{
    position: absolute;
    left: 0px;
}

.callus p{
    position: relative;
    left: 300px;
    top:50px;
    color: white;
}

.callus h6{
    text-decoration: none;
    color: white;
    position: relative;
    left: 305px;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.info1{
    position: relative;
    left: 270px;
}

.info1 p{
    position: relative;
    left: 300px;
    top:50px;
    color: white;
}

.info1 a{
    text-decoration: none;
    color: white;
    position: relative;
    left: 305px;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.info2 a{
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-right: 25px;
    position: relative;
    left: 705px;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.info2 p{
    position: relative;
    left: 640px;
    top: 55px;
    color: white;
}

.information a::before{
    content: "";
    position: absolute;
    bottom:-3px;
    height:2px;
    left:-13px;
    width:100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: rgb(248, 248, 248);
}

.information a:hover::before{
    transform: scaleX(1);
}