
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: Montserrat;
    src: url(../Finalprojecthtmlcss3/fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: grey;
    font-family:Montserrat ;
}

form{
    background: rgb(214, 214, 214);
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    width: 360px;
}

form input{
    display: block;
    background: none;
    margin: 18px auto;
    padding: 8px;
    text-align: center;
    border: 2px solid #4090db;
    outline: none;
    width: 180px;
    font-size: 22px;
    border-radius: 10px;
}

form input[type = "submit"]{
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    background: #4090db;
    color: white;
}

p{
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.information{
    background-color: black;
    position: absolute;
    top: 1300px;
    right: 0;
    width: 1264px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.callus{
    position: absolute;
    left: 0px;
}

.callus p{
    position: relative;
    left: 300px;
    top:50px;
    color: white;
}

.callus h6{
    text-decoration: none;
    color: white;
    position: relative;
    left: 305px;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.info1{
    position: relative;
    left: 270px;
}

.info1 p{
    position: relative;
    left: 300px;
    top:50px;
    color: white;
}

.info1 a{
    text-decoration: none;
    color: white;
    position: relative;
    left: 305px;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.info2 a{
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-right: 25px;
    position: relative;
    left: 705px;
    top: 50px;
    display: flex;
    flex-direction: row;
}

.info2 p{
    position: relative;
    left: 640px;
    top: 55px;
    color: white;
}

.information a::before{
    content: "";
    position: absolute;
    bottom:-3px;
    height:2px;
    left:-13px;
    width:100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: rgb(248, 248, 248);
}

.information a:hover::before{
    transform: scaleX(1);
}
